@use '@styles/abstracts/mixins' as *;
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/typography' as *;

.latestIssue {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  margin-inline: var(--space-fluid);
  margin-block: var(--space-2xl);

  @include mq(md) {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 0 2rem;
    align-items: start;
  }
}
.singleArrow {
  position: absolute;
  bottom: var(--space-2xl);
  right: 0;
  --arrow-width: 3rem;
  --arrow-height: auto;
  aspect-ratio: 108 / 214;
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);

  cursor: pointer;

  &:hover {
    transform: translateY(0.5rem);
  }

  @include mq(md) {
    --arrow-width: 3rem;
    bottom: calc(var(--space-xl) * -1);
    right: -0.7rem;
  }

  @include mq(lg) {
    bottom: -5rem;
    right: 1rem;
  }
}

.issueWrapper {
  position: relative;
  order: 2;

  @include mq(md) {
    order: unset;
  }
}

.curvedArrow {
  position: absolute;
  display: none;

  @include mq(md) {
    display: block;
    right: -28%;
    bottom: var(--space-l);
    --arrow-width: 40%;
    --arrow-height: auto;
    aspect-ratio: 214 / 108;
  }

  @include mq(lg) {
    right: -15%;
    --arrow-rotation: 5deg;
  }
}

.cover {
  width: 100%;
}

.contentWrapper {
  display: contents;
  @include mq(md) {
    display: flex;
    flex-direction: column;

    height: 0;
    min-height: 100%;

    padding-right: var(--space-l);
  }
}

.preface {
  display: none;
  line-height: 1.6;

  @include mq(md) {
    display: block;
    min-height: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(black 90%, transparent 100%);

    p {
      padding-bottom: var(--space-xs);
    }
  }

  @include mq(lg) {
    display: block;

    -webkit-line-clamp: unset;

    column-count: 2;
    column-gap: 10%;
    column-fill: auto;

    flex: 1;
    height: 100%;
    margin-right: var(--space-xl);
  }
}

.title {
  order: 1;

  @include mq(md) {
    order: unset;
    padding-block: var(--space-l);
  }
}

.orderBtn {
  width: 100%;
  order: 3;

  margin-top: var(--space-xl);
  @include mq(md) {
    order: unset;
    width: fit-content;
    margin-top: var(--space-xs);
    align-self: center;
  }

  @include mq(lg) {
    align-self: end;
    margin-right: 21%;
  }
}

.errorText {
  order: 1;
  grid-column: 1 / -1;
  text-align: center;
  font-size: var(--fs-500);
  color: var(--color-primary-hover);
  padding: var(--space-xl);
}

.readMoreScribble {
  display: none;
  @include mq(md) {
    align-self: end;
    display: contents;
    font-family: $font-script;
    font-size: var(--fs-600);
    color: var(--color-accent);
    text-transform: uppercase;

    transform: rotate(0.37deg);
    @include double-underline();
  }

  @include mq(lg) {
    margin-right: 15%;
  }
}
