.newsletterForm {
  margin-bottom: var(--space-l);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);

  @include mq(xlg) {
    align-items: end;
  }
}
