@use '@styles/tokens/colors' as *;
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.button {
  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding-block: var(--space-2xs);

  @include mq(md) {
    width: 18rem;
  }
}

.buttonText {
  text-transform: uppercase;
  font-family: $font-condensed;
  letter-spacing: 0.12rem;
  font-size: 2rem;;
  color: var(--color-white);
}
