@use '@styles/tokens/colors' as *;
@use '@styles/tokens/spacing' as *;
@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.button {
  position: relative;
  isolation: isolate;
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding-block: var(--space-2xs);

  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);

  &:hover {
    background-color: var(--color-primary-hover);
    transform: scale(1.02);
  }

  &:disabled {
    pointer-events: none;
  }

  @include mq(md) {
    width: 18rem;
  }
}

.circled {
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;

    border: 3px solid var(--color-accent);
    background: transparent;
  }

  &::before {
    top: -1rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -1rem;

    border-radius: 85% 95% 90% 95% / 95% 90% 85% 90%;
    transform: rotate(-2.2deg);
  }

  &::after {
    top: -1.1rem;
    left: -0.3rem;
    right: -0.6rem;
    bottom: -1.1rem;

    border-radius: 95% 85% 95% 90% / 90% 95% 90% 85%;
    transform: rotate(-0.5deg);

    border-width: 2.5px;
    opacity: 0.8;
  }
}

.buttonText {
  text-transform: uppercase;
  font-family: $font-condensed;
  letter-spacing: 0.12rem;
  font-size: 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
}
