@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.successMessage {
  max-width: 600px;
  max-height: fit-content;
  margin: var(--space-s) auto;
  padding: var(--space-l);
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--text-500);
  font-family: $font-condensed;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin-bottom: var(--space-s);
  }
}
.form {
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  align-items: center;
  width: 100%;

  @include mq(md) {
    padding: 0;
  }
  @include mq(lg) {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto auto auto auto;
  }
}

.infoText {
  font-size: var(--text-500);
  font-family: $font-condensed;
  grid-column: 1;

  h2 {
    font-size: 2rem;
  }

  @include mq(md) {
    max-width: 330px;
  }
}

div:has(input[name='firstname']) {
  grid-column: 1;
}
div:has(input[name='lastname']) {
  grid-column: 1;
}
div:has(input[name='email']) {
  grid-column: 1;
}
div:has(input[type='file']) {
  width: 100%;
  grid-column: 2;
  grid-row: 2 / span 2;
  align-self: start;
}

.removeBtn {
  color: var(--color-black);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.submitButton {
  @include circle;
  grid-column: 2;
  justify-self: center;

  display: flex;
  justify-content: center;
  margin-top: var(--space-xl);
}

.fileList {
  list-style: none;
  padding: 0;
  @include mq(md) {
    max-width: 330px;
  }

  .fileItem {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: var(--text-100);
  }
}
.submitButtonWrapper {
  grid-column: 2;
  grid-row: 3 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: end;
  width: 100%;
}

.errorMessage {
  color: var(--color-warning-text);
  background: var(--color-warning-surface);
  border: 1px solid var(--color-warning-border);
  border-radius: 4px;
  padding: var(--space-s);
  font-family: $font-condensed;
  font-size: var(--text-200);
}
