@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  font-family: $font-condensed;
  letter-spacing: 0.02em;

  @include mq(md) {
    width: 330px;
  }
}

.label {
  font-size: var(--text-500);
}

.dropZone {
  width: 100%;
  border: 1px dashed var(--color-black);
  border-radius: 3px;
  padding: 30px 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.dragActive {
    background-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-color: #000;
  }

  &.error {
    border-color: var(--color-warning-border);
    background-color: var(--color-warning-surface);
  }
}

.dropText {
  font-size: var(--text-400);
  pointer-events: none;
}

.hiddenInput {
  display: none;
}

.mandatory {
  font-size: var(--text-300);
  letter-spacing: 0.05em;
}

.feedback {
  background-color: var(--color-warning-surface);
  border: 1px solid var(--color-warning);
  color: var(--color-warning-text);
  border-radius: 4px;
  padding-block: 2px;
  padding-left: var(--space-2xs);
  padding-right: var(--space-l);
  width: fit-content;
}


