// Font Families
$font-serif: 'Times New Roman', Times, serif;
$font-condensed: 'acumin-pro-extra-condensed', 'Arial Narrow', sans-serif;
$font-script: 'Moon Dance', cursive;

// Font Weights
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$font-italic: italic;
$font-normal: normal;

:root {
  // -- FS SCALE --
  // This calculates the perfect size between Mobile (375px) and Desktop (1280px)

  // Micro text
  --fs-050: clamp(0.5277rem, 0.7126rem + -0.2311 * var(--vwx), 0.6584rem);
  --fs-100: clamp(0.7035rem, 0.7562rem + -0.0659 * var(--vwx), 0.7407rem);

  // Body text sizes
  --fs-200: clamp(0.8333rem, 0.7901rem + 0.1846 * var(--vwx), 0.9377rem);
  --fs-300: clamp(0.9375rem, 0.808rem + 0.5525 * var(--vwx), 1.25rem); // BASE

  // Headings
  --fs-400: clamp(1.0547rem, 0.8013rem + 1.0812 * var(--vwx), 1.6663rem);
  --fs-500: clamp(1.1865rem, 0.7578rem + 1.8291 * var(--vwx), 2.2211rem);
  --fs-600: clamp(1.3348rem, 0.6611rem + 2.8745 * var(--vwx), 2.9607rem);
  --fs-700: clamp(1.5017rem, 0.4886rem + 4.3226 * var(--vwx), 3.9467rem);
  --fs-800: clamp(1.6894rem, 0.2095rem + 6.3143 * var(--vwx), 5.2609rem);
  --fs-900: clamp(1.9006rem, -0.2177rem + 9.0382 * var(--vwx), 7.0128rem);

  // -- BODY HELPERS --
  --text-100: calc(var(--fs-300) * 0.75);
  --text-200: calc(var(--fs-300) * 0.875);
  --text-300: var(--fs-300); // Standard Body
  --text-400: calc(var(--fs-300) * 1.125);
  --text-500: calc(var(--fs-300) * 1.25);
}
