// Font Families
$font-serif: "Times New Roman", Times, serif;
$font-condensed: "acumin-pro-extra-condensed", "Arial Narrow", sans-serif; 

// Font Weights 
$weight-thin: 100; 
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;


$font-italic: italic;
$font-normal: normal;