@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.textInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font-condensed;
  letter-spacing: 0.02em;

  @include mq(md) {
    max-width: 330px;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: var(--text-500);
  }

  input {
    border: 1px solid var(--color-border);
    border-radius: 3px;
    margin: 2px;
    padding-left: 3px;
    height: 2.5rem;
    font-family: $font-serif;
    font-size: var(--text-300);

    &:focus-visible {
      outline: 2px solid var(--color-primary);
    }
  }

  .lable {
    padding-left: 2px;
  }

  .mandatory {
    display: none;
  }
  .mandatoryVisible {
    display: contents;
    font-size: var(--text-300);
    letter-spacing: 0.05em;
    padding-left: 2px;
  }

  .feedback {
    background-color: var(--color-warning-surface);
    border: 1px solid var(--color-warning);
    color: var(--color-warning-text);
    border-radius: 4px;
    padding-block: 2px;
    padding-left: var(--space-2xs);
    padding-right: var(--space-l);
    width: fit-content;
  }
}
