.socialsNav {
  display: flex;
  gap: var(--space-xl);
}

.links {
  display: flex;
  color: var(--color-text);
  transition: color 0.2s ease;

  &:hover,
  &:focus-visible {
    color: var(--color-primary);
  }
}
