@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin reset-visually-hidden {
  position: static;
  width: auto;
  height: auto;
  padding: auto;
  margin: auto;
  clip: auto;
  overflow: visible;
}
