@mixin double-underline(
  $color: var(--color-accent),
  $width: 100%,
  $thickness: 0.6em
) {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    left: 0;

    bottom: -0.2em;
    width: $width;
    height: $thickness;

    background-color: $color;

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 20 228 30' fill='none'%3E%3Cpath d='M4.3 34.5C36.4 29.5 117.5 20.3 153.7 26.6C161.9 28.1 169 28.8 180.9 28.8C192.8 28.9 209.3 28.2 226.4 27.5' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.6 39.2C33.7 34.2 114.8 25 151 31.3C159.2 32.8 166.3 33.5 178.2 33.6C190.1 33.6 206.6 32.9 223.7 32.2' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 20 228 30' fill='none'%3E%3Cpath d='M4.3 34.5C36.4 29.5 117.5 20.3 153.7 26.6C161.9 28.1 169 28.8 180.9 28.8C192.8 28.9 209.3 28.2 226.4 27.5' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1.6 39.2C33.7 34.2 114.8 25 151 31.3C159.2 32.8 166.3 33.5 178.2 33.6C190.1 33.6 206.6 32.9 223.7 32.2' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin long-double-underline(
  $color: var(--color-accent),
  $width: 100%,
  $height: 0.8em
) {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    left: 0;

    bottom: -0.5em;

    width: $width;
    height: $height;

    background-color: $color;

    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 609 14' fill='none'%3E%3Cpath d='M1 2C25.0889 2 78.0415 1.95609 108.791 1.86616C136.037 1.78647 186.945 1.77334 263.505 1.59374C340.065 1.41414 440.739 1.10315 497.024 1.02231C553.31 0.941469 562.156 1.1002 572.555 1.18216C582.954 1.26411 594.639 1.26447 608 1.00415' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M14.4375 12.8268C14.6096 12.8268 32.065 12.7316 107.559 12.4869C165.687 12.2985 264.049 12.1364 320.043 11.6495C376.036 11.1626 386.68 10.3958 401.676 9.90119C458.997 8.65492 469.473 7.89876 491.195 7.66795C509.944 7.48826 544.383 7.18155 583.152 6.39014' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 609 14' fill='none'%3E%3Cpath d='M1 2C25.0889 2 78.0415 1.95609 108.791 1.86616C136.037 1.78647 186.945 1.77334 263.505 1.59374C340.065 1.41414 440.739 1.10315 497.024 1.02231C553.31 0.941469 562.156 1.1002 572.555 1.18216C582.954 1.26411 594.639 1.26447 608 1.00415' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M14.4375 12.8268C14.6096 12.8268 32.065 12.7316 107.559 12.4869C165.687 12.2985 264.049 12.1364 320.043 11.6495C376.036 11.1626 386.68 10.3958 401.676 9.90119C458.997 8.65492 469.473 7.89876 491.195 7.66795C509.944 7.48826 544.383 7.18155 583.152 6.39014' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin single-underline(
  $color: var(--color-accent),
  $width: 100%,
  $height: 0.5em,
  $thickness: 2
) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 2px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: $width;
    height: $height;
    background-color: $color;
    $svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 161 8' fill='none'%3E%3Cpath d='M1 5.04698C2.42364 5.04698 7.26762 5.37104 12.0459 5.81124C17.6541 6.3279 32.774 6.16652 50.6681 6.25267C59.6212 6.29578 63.387 5.62551 68.2321 5.25617C80.1057 4.35103 99.6613 4.35521 103.455 3.31245C107.643 2.16155 112.741 3.152 128.729 3.41924C133.542 3.45567 137.87 3.52853 142.877 3.52419C147.885 3.51986 153.441 3.43613 159.554 1.00024' stroke='black' stroke-width='#{$thickness}' stroke-linecap='round'/%3E%3C/svg%3E";

    -webkit-mask-image: url($svg);
    mask-image: url($svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;

    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin responsive-arrow(
  $mask-url,
  $default-width: 50px,
  $default-height: 50px,
  $default-rotate: 0deg,
  $direction: 'right',
  $default-color: var(--color-accent)
) {
  content: '';
  display: inline-block;

  width: var(--arrow-width, #{$default-width});
  height: var(--arrow-height, #{$default-height});

  background-color: var(--arrow-color, #{$default-color});

  -webkit-mask-image: url($mask-url);
  mask-image: url($mask-url);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  $scale: if($direction == 'left', -1, 1);

  transform: scaleX(#{$scale}) rotate(var(--arrow-rotation, #{$default-rotate}));
}

@mixin single-curved-arrow($direction: 'right') {
  @include responsive-arrow(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 214 108' fill='none'%3E%3Cpath d='M1.5 104.821C9.61657 104.821 32.551 106.056 59.4115 106.007C80.3597 105.97 94.5604 100.446 108.205 95.1557C124.197 88.956 137.496 78.4258 149.117 71.0277C161.447 63.1786 174.169 55.1274 185.086 43.6757C196.072 31.718 200.945 26.0393 206.98 14.0001C208.286 10.9404 212.929 2.40938 206.98 1.6322' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M194.721 6.5867C195.318 5.87277 197.963 3.91006 200.87 2.97245C203.746 2.04496 207.23 1.64468 210.255 1.501C210.916 1.46962 211.391 2.2886 211.654 3.06447C212.768 6.35618 211.282 18.3624 210.255 21.5001' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E",
    214px,
    108px,
    0deg,
    $direction
  );
}

@mixin double-curved-arrow($direction: 'right') {
  @include responsive-arrow(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 73 74' fill='none'%3E%3Cpath d='M46.8 2.8C53.3 -0.2 46.3 0.8 35.6 12.5C32.8 15.6 29.1 19.3 26.8 33.8C24.8 46.4 26.5 52.7 26.8 55.5C27.5 63 28.5 64.7 29.1 66.4C29.2 66.8 29.3 67.4 29.6 67.4C32.6 67.5 35.8 59.4 36.1 58.7C36.9 56.9 32.3 63.1 30.3 65.5C29.5 66.5 28.7 67.4 28 68.1C26.2 68.1 23.8 67.3 20.4 66.9C19.6 66.8 18.9 66.6 17.5 65.8' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M52.2 13.9C56.3 12.9 52.1 12.7 44.8 18.4C42.8 19.9 40.3 21.6 37.6 29.9C35.2 37 35.7 40.8 35.5 42.5C35.3 47 35.7 48.1 35.9 49.1C35.9 49.4 35.9 49.7 36.1 49.8C37.8 50.2 40.4 45.8 40.7 45.4C41.3 44.5 38 47.6 36.7 48.7C36.1 49.2 35.5 49.7 35 50C34 49.8 32.7 49.1 30.8 48.5C30.3 48.3 29.9 48.2 29.1 47.5' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E",
    73px,
    74px,
    0deg,
    $direction
  );
}

@mixin single-arrow($direction: 'normal') {
  @include responsive-arrow(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='107' viewBox='0 0 61 107' fill='none'%3E%3Cpath d='M35.411 1.5C35.411 1.62818 35.411 36.923 36.3831 89.7551C36.7073 107.374 39.2996 106.269 41.0782 104.674C48.6671 97.8696 51.5031 89.7589 55.9173 83.9285C56.6721 82.9316 58.984 84.6276 59.3341 85.979C61.1341 92.927 47.8268 98.883 42.0928 104.276C40.7362 105.552 38.1765 105.535 36.3746 105.008C30.0627 100.36 19.9343 94.5894 10.4022 90.8019C8.27466 90.0656 6.08692 89.3217 1.50012 86.197' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E",
    61px,
    107px,
    0deg,
    $direction
  );
}

@mixin circle(
  $color: var(--color-accent),
  $offset-x: 0.5rem,
  $offset-y: 1rem,
  $stroke-width: 3px
) {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background: transparent;
    border-style: solid;
    border-color: $color;
  }

  &::before {
    border-width: $stroke-width;

    top: -#{$offset-y};
    bottom: -#{$offset-y};
    left: -#{$offset-x};
    right: -#{$offset-x};

    border-radius: 85% 95% 90% 95% / 95% 90% 85% 90%;
    transform: rotate(-2.2deg);
  }

  &::after {
    border-width: calc(#{$stroke-width} * 0.85);
    opacity: 0.8;

    top: calc(-#{$offset-y} - 0.1rem);
    bottom: calc(-#{$offset-y} - 0.1rem);
    left: calc(-#{$offset-x} + 0.2rem);
    right: calc(-#{$offset-x} - 0.1rem);

    border-radius: 95% 85% 95% 90% / 90% 95% 90% 85%;
    transform: rotate(-0.5deg);
  }
}
