@use '../../tokens/viewport' as *;

/// Media Query Helper
/// @param {String} $size - 'sm', 'md', 'lg'
@mixin mq($size) {
  @if $size == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
