@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.actionBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $font-condensed;

  &.start {
    align-items: flex-start;
  }
  &.end {
    align-items: flex-end;
  }
}

.link {
  display: flex;
  background-color: var(--color-primary);
  padding: var(--space-2xs) var(--space-l);
  color: var(--color-white);
  text-transform: uppercase;
  width: fit-content;
  text-wrap: nowrap;
  font-size: var(--fs-600);
  box-shadow: -5px 4px 25px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in;

  gap: var(--space-l);
  align-items: center;

  .icon {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  &:hover {
    background-color: var(--color-primary-hover);
    .slideRight {
      transform: translateX(0.5rem);
    }

    .slideLeft {
      transform: translateX(-0.5rem);
    }
  }
}

.stickerText {
  font-family: $font-script;
  color: var(--color-accent);
  font-size: var(--fs-600);
  padding-top: var(--space-2xs);

  margin-right: var(--space-m);
  padding-left: var(--space-2xl);
  transform: rotate(8deg);
  text-transform: uppercase;
}

.content {
  padding-inline: var(--space-fluid);
}

.contentTitle {
  font-size: var(--fs-500);
  margin-right: var(--space-xl);

  &.openCall {
    color: var(--color-primary);
    @include long-double-underline(var(--color-accent), 100%, 1em);
  }
}

.contentBody {
  font-size: var(--text-400);
  max-width: 50ch;
  @include wrap-text;

  @include mq(lg) {
    max-width: 58ch;
  }
}

.ctaWrapper {
  position: relative;
  display: inline-flex;
}

.openCallArrow {
  @include double-curved-arrow('right');
  position: absolute;
  top: 50%;
  left: -30%;

  @include mq(md) {
    --arrow-width: 90px;
    --arrow-height: 90px;
    --arrow-rotation: 5deg;
    top: 60%;
  }

  @include mq(lg) {
    --arrow-width: 100px;
    --arrow-height: 100px;
    --arrow-rotation: 7deg;
    top: 70%;
  }
}

.newsletterArrow {
  @include double-curved-arrow('right');
  position: absolute;
  top: 40%;
  left: -33%;
  --arrow-rotation: 15deg;

  @include mq(md) {
    @include double-curved-arrow('right');
    --arrow-width: 95px;
    --arrow-height: 95px;
    --arrow-rotation: -10deg;
    top: 55%;
    left: auto;
    right: -30%;
    transform: scaleX(-1) rotate(var(--arrow-rotation)) !important;
  }

  @include mq(lg) {
    --arrow-width: 110px;
    --arrow-height: 110px;
    --arrow-rotation: -17deg;
    top: 70%;
  }
}
