@use '@styles/tokens/typography' as *;
@use '@styles/abstracts/mixins' as *;

.singleIssuePage {
  @include wrapper;
  padding-inline: var(--space-fluid);
  padding-block: var(--space-m);

  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  @include mq(md) {
    padding-block: 0;
    padding-bottom: var(--space-2xl);
  }
}

.issueWrapper {
  grid-row: 1 / -1;
  position: relative;
}

.coverWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

.coverButton {
  @include circle;
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
  margin-top: var(--space-m);

  &:hover {
    background-color: var(--color-primary-hover);
    transform: scale(1.02);
  }
  @include mq(md) {
    grid-row: 2;
    align-self: start;
    justify-self: end;
    margin-right: clamp(3%, 51.34vw - 379px, 25%);
  }
}

.curvedArrow {
  position: absolute;
  display: none;

  @include mq(md) {
    display: block;
    right: -10%;
    bottom: var(--space-m);
    --arrow-width: 40%;
    --arrow-height: auto;
    aspect-ratio: 214 / 108;
  }

  @include mq(lg) {
    right: 0%;
  }
}

.contentsWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;

  @include mq(md) {
    align-self: end;
  }
}

.playList {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  font-size: var(--text-500);

  @include mq(md) {
    max-width: 24.3rem;
  }
}

.playListRow {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mq(md) {
    grid-template-columns: 1fr auto;
  }

  dd {
    text-align: right;
  }
}

.title {
  font-family: $font-serif;
  padding-left: var(--space-s);
  padding-bottom: var(--space-m);

  @include mq(md) {
    padding-inline: var(--space-xl);
  }
}

.prefaceWrapper {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    padding-inline: var(--space-2xl);
    align-self: center;
  }

  @include mq(lg) {
    max-width: 90%;
    align-self: center;
  }
}

.prefaceBody {
  line-height: 1.375;

  @include mq(md) {
    display: block;
    column-count: 2;
    column-gap: 10%;
  }
}

.prefaceButton {
  margin-block: var(--space-2xl);
  align-self: center;

  @include mq(lg) {
    display: none;
  }
}

.singleArrow {
  position: absolute;
  
  right: 0;
  bottom: 45%;
  --arrow-width: 3rem;
  --arrow-height: auto;
  aspect-ratio: 108 / 214;
  transition: transform 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);

  cursor: pointer;

  &:hover {
    transform: translateY(0.5rem);
  }

  @include mq(md) {
    --arrow-width: 3rem;
    bottom: calc(var(--space-xl) * -1);
    right: -0.7rem;
  }

  @include mq(lg) {
    bottom: -5rem;
    right: 1rem;
  }
}
