@use '@styles/abstracts/mixins' as *;
@use '@styles/tokens/z-index' as *;
@use '@styles/tokens/typography' as *;

.header {
  max-width: 100%;
  position: relative;
  padding-block: var(--space-2xs);
  border-bottom: 1px solid var(--color-border);

  z-index: z('header');
}

.innerWrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  @include visually-hidden;

  @include mq(md) {
    @include reset-visually-hidden;
    font-weight: $weight-regular;
    font-size: var(--fs-700);
  }
}
