@use '@styles/tokens/typography' as *;
@use '@styles/tokens/spacing' as *;

.issueCover {
  display: flex;
  flex-direction: column;
}

.coverBg {
  max-width: 17.8rem;
  min-height: 23.125rem;
  background-color: var(--color-primary);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.issueNumber {
  font-size: 7.7rem;
  text-transform: uppercase;
  font-family: $font-serif;

  padding-bottom: 0.2rem;
  padding-left: 1rem;
  position: absolute;
  bottom: 0;

  white-space: nowrap;
  line-height: 0.8
}

.theme {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: $font-condensed;
  line-height: 0.8;

  padding-top: 0.5rem;
}
