@use '@styles/tokens' as *;
@use '@styles/abstracts/mixins' as *;

.footer {
  font-family: $font-condensed;
  font-size: var(--text-300);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--space-xs);

  margin-inline: 15%;
  gap: var(--space-s);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;

  gap: var(--space-s);

  border-top: 1px solid var(--color-primary);
  padding-top: var(--space-m);

  @include mq(md) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.link {
    color: var(--color-text);
  transition: color 0.2s ease;

  &:hover,
  &:focus-visible {
    color: var(--color-primary);
  }
}
