html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--color-background);
  color: var(--color-text);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}