@use '../tokens' as *;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--color-bg);
  color: var(--color-text);

  font-family: $font-serif;
  -webkit-font-smoothing: antialiased;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
.display-text {
  font-family: $font-condensed;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-800);
  font-weight: $weight-regular;
  margin: 0;
}
h2 {
  font-size: var(--fs-700);
  font-weight: $weight-regular;
  margin: 0;
}
